body{
    opacity: 1;
    background: linear-gradient(126deg, #FF0000 1%, #B53697 26%, #2E426F 49%, rgba(64, 147, 185, 0.8992) 70%, rgba(64, 255, 0, 0.6556) 98%);
    position: relative;
    width: 1440px;
    height: 1024px;
   overflow-x:hidden;
}
header{
    position: absolute;
    left: 528px;
    top: 14px;
    width: 42.51%;
    height: 92.47%;
    font-family: K2D;
    font-size: 64px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz" auto;
    background: linear-gradient(98deg, #08DD41 0%, rgba(198, 215, 15, 0.736) 17%, rgba(255, 212, 0, 0.656) 24%, rgba(255, 21, 37, 0.3261) 27%, rgba(255, 0, 0, 0.18) 36%, #F41515 41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#logo{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    border-radius: 500px;
    opacity: 1;
}
 #AS{
    position: absolute;
    top: 0px;
    left: 1120px;   
    width: 120px;
    height: 120px;
    border-radius: 500px;
    opacity: 1;   
}
 #tagline{
    position: absolute;
    left: 756px;
    top: 100px;
    width: 42.51%;
    height: 32.26%;
    font-family: K2D;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz" auto;
    color: black;
}
h1{
 position: absolute;
 text-align: center;
 top: 300px;
 left: 300px;
}
button{
 position: absolute;
 top: 400px;
 left: 400px;
 border-radius: 500px;
 background-color: black;
}
a{
 color: white;
 text-decoration: none;
}